<%= form_with(model: @movie, local: true) do |form| %>
  <!-- Общие поля для фильма -->
  <div>
    <%= form.label :title, 'Название фильма' %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :year, 'Год выпуска' %>
    <%= form.number_field :year %>
  </div>

  <div>
    <%= form.label :description, 'Описание' %>
    <%= form.text_area :description %>
  </div>

  <!-- Поля для режиссера -->
  <div>
    <%= form.fields_for :director do |director_form| %>
      <%= director_form.label :fullname, 'Режиссер фильма' %>
      <%= director_form.text_field :fullname %>
    <% end %>
  </div>

  <!-- Поля для актеров -->
  <div>
    <%= form.fields_for :actors do |actor_form| %>
      <%= actor_form.label :fullname, 'Актер 1' %>
      <%= actor_form.text_field :fullname %>
    <% end %>
  </div>

  <div>
    <%= form.fields_for :actors do |actor_form| %>
      <%= actor_form.label :fullname, 'Актер 2' %>
      <%= actor_form.text_field :fullname %>
    <% end %>
  </div>
  <div>
    <%= form.submit 'Сохранить' %>
  </div>
<% end %>
