<h1>Фильмы</h1>

<%#= link_to "Добавить фильм", new_movie_path %>

<ul>
  <% @movies.each do |movie| %>
    <li>
      <%= link_to movie.title, movie %> (<%= movie.year %>)
      <p><%= movie.description %></p>
    </li>
  <% end %>
</ul>
