<h1><%= @movie.title %></h1>

<p>
  <strong>Актеры:</strong>
  <% if @movie.actors.present? %>
    <% @movie.actors.each do |actor| %>
      <%= actor.fullname %>,
    <% end %>
  <% else %>
    Нет информации об актерах для этого фильма.
  <% end %>
</p>


<p>
  <strong>Режиссер:</strong>
  <%= @movie.director.fullname %>
</p>


<p>
  <strong>Год выпуска:</strong> <%= @movie.year %>
</p>

<p>
  <strong>Описание:</strong> <%= @movie.description %>
</p>


