body {
    margin: 0;
    padding: 0;
    font-family: OKKO Sans, sans-serif;
    background-color: black;
    color: white;
}

header {
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav a:hover {
    color: #ffd700; /* Измените цвет при наведении по вашему усмотрению */
}

h1 {
    align-items: center;
}

.director-block {
    display: flex;
    flex-wrap: wrap;

}

.director-block a {
    width: 100%; /* Занимать всю доступную ширину */
    box-sizing: border-box; /* Включить границы и отступы в общую ширину */
    border: 1px solid #ccc; /* Граница для стиля рамки */
    padding: 10px; /* Отступ вокруг элемента */
    text-align: center; /* Выравнивание текста по центру */
    text-decoration: none; /* Убрать стандартное подчеркивание ссылок */
    color: white; /* Цвет текста */
    margin: 8px; /* Внешний отступ между блоками */
    background-color: black;
}


/* Стили для контейнера фильма */
.movie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стили для изображения фильма */
.movie-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Стили для названия фильма */
.movie-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

/* Стили для краткого описания фильма */
.movie-description {
    font-size: 1rem;
    color: #555;
}

/* Общие стили для текста */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

/* Стили для контейнера, содержащего фильмы */
.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
