<header>
  <div class="logo">Movie Maze</div>
  <nav>
    <ul>
      <li><a href="/">Фильмы</a></li>
      <li><%= link_to 'Режиссер', directors_path %></li>
      <li><%= link_to 'Актеры', actors_path %></li>
      <li><%= link_to 'Добавить фильм', new_movie_path %></li>
      <li><%= link_to 'Контакты', pages_contact_path %></li>
    </ul>
  </nav>
</header>